body{
    font-family: sans-serif;
    background-color: #f7f7f7;
    margin-top: 100px;
}

.app{
    width: 300px;
    height: 550px;
    margin: auto;
    background-color: #fff;
    border: 6px solid #E6DACE;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 2px 2px 2px 2px rgba(255, 241, 241, 0.1);
}

#addNew {
    background-color: #F4ECE6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
}

#addNew i{
    background-color: #e3d4c7;
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
}

#tasks {
    display: grid;
    gap: 15px;
}

.options i{
    background-color: #e3d4c7;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#tasks div{
    background-color: #F4ECE6;
    padding: 15px;
    border-radius: 8px;
    display: grid;
    gap: 4px;
}

.options{
justify-self: end;
display: flex;
gap: 10px;
}

